@font-face {
    font-family: 'Gill Sans Std';
    src: url('GillSansStd.woff2') format('woff2'),
        url('GillSansStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans Std';
    src: url('GillSansStd-Bold.woff2') format('woff2'),
        url('GillSansStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

